body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

header .top-bar {
  background-color: #E6E6FA;
  position: fixed;
  width: 100%;
  top: 1px; }
  header .top-bar .container .row .col-12 .dropdown {
    padding: 10px 0px; }
    @media only screen and (max-width: 575px) {
      header .top-bar .container .row .col-12 .dropdown {
        padding: 0px; } }
    header .top-bar .container .row .col-12 .dropdown .sign-in {
      color: black !important; }
      @media only screen and (max-width: 575px) {
        header .top-bar .container .row .col-12 .dropdown .sign-in {
          font-size: 10px; } }
header .header-top {
  position: fixed;
  width: 100%;
  top: 1;
  z-index: 10;
  background-color: #F2F2F2; }
  header .header-top .container .row {
    padding: 20px 0px; }
    header .header-top .container .row .col-md-7 .img-custom {
      display: inline; }
      @media only screen and (max-width: 575px) {
        header .header-top .container .row .col-md-7 .img-custom {
          display: block; } }
      header .header-top .container .row .col-md-7 .img-custom img {
        width: 15%; }
        @media only screen and (max-width: 575px) {
          header .header-top .container .row .col-md-7 .img-custom img {
            width: 30%; } }
    header .header-top .container .row .col-md-5 form {
      width: 100%; }
      header .header-top .container .row .col-md-5 form .input-group .form-control {
        border: 2px solid #F77426; }
      header .header-top .container .row .col-md-5 form .input-group .input-group-append .input-group-text {
        background-color: #F77426;
        border: 2px solid #F77426;
        width: 100px; }
        @media only screen and (max-width: 575px) {
          header .header-top .container .row .col-md-5 form .input-group .input-group-append .input-group-text {
            width: 70px; } }
        header .header-top .container .row .col-md-5 form .input-group .input-group-append .input-group-text i {
          color: white; }
      header .header-top .container .row .col-md-5 form .input-group .input-group-append .input-group-text:hover {
        text-decoration: none; }
header .header-bottom {
  background-color: #F2F2F2;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  padding-top: 135px; }
  @media only screen and (max-width: 575px) {
    header .header-bottom {
      position: relative;
      display: block !important; } }
  @media only screen and (max-width: 575px) {
    header .header-bottom .sidenav-mobi {
      position: absolute;
      z-index: 999; } }
  @media only screen and (min-width: 768px) {
    header .header-bottom .navbar-main {
      margin: 0 auto; } }
  @media only screen and (max-width: 575px) {
    header .header-bottom .navbar-main {
      right: 0;
      top: 0;
      width: 100%; } }
  @media only screen and (max-width: 575px) {
    header .header-bottom .navbar-main .navbar-expand-md {
      padding: 0; } }
  @media only screen and (max-width: 575px) {
    header .header-bottom .navbar-main .navbar-expand-md .navbar-toggler {
      margin: 10px 10px 10px 0px; } }
  @media only screen and (max-width: 575px) {
    header .header-bottom .navbar-main .navbar-expand-md .navbar-collapse {
      background: #f2f2f2; } }
  @media only screen and (max-width: 575px) {
    header .header-bottom .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav {
      padding-left: 15px;
      background: #f2f2f2; } }
  header .header-bottom .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #0404B4 !important;
    font-size: 140%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic; }
    @media only screen and (max-width: 767px) {
      header .header-bottom .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }
  header .header-bottom .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav .active .nav-link {
    color: orange !important; }

.slider-main {
  background-color: #F2F2F2; }
  .slider-main .background-img-top {
    background-color: #ffff; }
    .slider-main .background-img-top .img-top {
      padding: 30px 0px; }
  .slider-main .slider-bottom {
    background-color: #B0E0E6;
    padding: 20px 20px; }
    .slider-main .slider-bottom .row .col-lg-2 .all-product {
      font-size: 130%;
      color: #EB6600; }
      .slider-main .slider-bottom .row .col-lg-2 .all-product .fa-bars {
        color: #9A9D9D; }
    .slider-main .slider-bottom .row .col-lg-2 p {
      font-size: 120%; }
      .slider-main .slider-bottom .row .col-lg-2 p i {
        color: #EB6600; }
    .slider-main .slider-bottom .row .col-lg-2 ul {
      padding-left: 20px;
      list-style: none; }
      .slider-main .slider-bottom .row .col-lg-2 ul li {
        border-bottom: 1px solid #fff;
        padding: 0px 0px 5px;
        font-size: 110%; }
        .slider-main .slider-bottom .row .col-lg-2 ul li i:hover {
          color: #EB6600; }
        .slider-main .slider-bottom .row .col-lg-2 ul li i {
          color: #000;
          font-weight: 600; }
      .slider-main .slider-bottom .row .col-lg-2 ul li::before {
        content: "\2022";
        color: red;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em; }
    .slider-main .slider-bottom .row .col-lg-7 .carousel-fade .carousel-inner .carousel-item img {
      width: 750px;
      height: 425px;
      object-fit: cover; }
      @media only screen and (max-width: 991px) {
        .slider-main .slider-bottom .row .col-lg-7 .carousel-fade .carousel-inner .carousel-item img {
          height: 300px; } }
      @media only screen and (max-width: 575px) {
        .slider-main .slider-bottom .row .col-lg-7 .carousel-fade .carousel-inner .carousel-item img {
          height: 200px; } }
    .slider-main .slider-bottom .row .custom-3 {
      padding: 0px; }
      @media only screen and (max-width: 991px) {
        .slider-main .slider-bottom .row .custom-3 {
          padding: 0px 15px; } }
      @media only screen and (max-width: 991px) {
        .slider-main .slider-bottom .row .custom-3 .container .row .col-6 {
          padding: 0px; } }
      .slider-main .slider-bottom .row .custom-3 .container .row .col-6 .img-1 {
        width: 100%;
        height: 213px;
        padding-bottom: 10px;
        object-fit: cover; }
        @media only screen and (max-width: 991px) {
          .slider-main .slider-bottom .row .custom-3 .container .row .col-6 .img-1 {
            padding: 20px 10px 0px 0px; } }
        @media only screen and (max-width: 575px) {
          .slider-main .slider-bottom .row .custom-3 .container .row .col-6 .img-1 {
            height: 120px; } }
      .slider-main .slider-bottom .row .custom-3 .container .row .col-6 .img-2 {
        width: 100%;
        height: 211px;
        padding-top: 10px;
        object-fit: cover; }
        @media only screen and (max-width: 991px) {
          .slider-main .slider-bottom .row .custom-3 .container .row .col-6 .img-2 {
            padding: 20px 0px 0px 10px; } }
        @media only screen and (max-width: 575px) {
          .slider-main .slider-bottom .row .custom-3 .container .row .col-6 .img-2 {
            height: 120px; } }

/*# sourceMappingURL=index.css.map */
