body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
header{
    .top-bar{
        background-color: #E6E6FA;
        position: fixed;
        width: 100%;
        top: 1px;
        .container{
            .row{
                .col-12{
                    .dropdown{
                        padding:10px 0px;
                        @media only screen and (max-width: 575px) {
                            padding:0px;
                        }
                        .sign-in{
                            color:black !important;
                            @media only screen and (max-width: 575px) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .header-top{
        position: fixed;
        width: 100%;
        top:1;
        z-index: 10;
        // height: 30px;    
        // line-height: 30px;
        background-color: #F2F2F2;
        .container{
            .row{
                padding:20px 0px;
                .col-md-7{
                    .img-custom{
                        display: inline;
                        @media only screen and (max-width: 575px) {
                            display: block;
                        }
                        img{
                            width: 15%;
                            @media only screen and (max-width: 575px) {
                                width: 30%;
                            }
                        }
                    }
                }
    
                .col-md-5{
                    form{
                        width: 100%;
                        .input-group{
                            .form-control{
                                border:2px solid #F77426;
                            }
                            .input-group-append{
                                .input-group-text{
                                    background-color: #F77426;
                                    border:2px solid #F77426;
                                    width: 100px;
                                    @media only screen and (max-width: 575px) {
                                        width: 70px;
                                    }
        
                                    i{
                                        color:white;
                                    }
                                }
                                .input-group-text:hover{
                                    text-decoration: none;
                                }
                            } 
                        }
                    }
                }
            }
        }   
    }
    
    .header-bottom{
        background-color: #F2F2F2;
        border-top:1px solid #b0b0b0; 
        border-bottom:1px solid #b0b0b0;
        // height: 80px;
        padding-top: 135px;
        @media only screen and (max-width: 575px) {
            position: relative;
            display: block!important;
        }
        .sidenav-mobi{
            @media only screen and (max-width: 575px) {
            position: absolute;
            z-index: 999;
            }
        }
        .navbar-main{
            @media only screen and (min-width: 768px) {
                margin: 0 auto;
            }
            @media only screen and (max-width: 575px) {
                // position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
            .navbar-expand-md{
                @media only screen and (max-width: 575px) {
                    padding: 0;
                }
                .navbar-toggler{
                    @media only screen and (max-width: 575px) {
                        margin: 10px 10px 10px 0px;
                    }
                }
                .navbar-collapse{
                    @media only screen and (max-width: 575px) {
                        background: rgb(242, 242, 242);
                    }
                    .navbar-nav{
                        @media only screen and (max-width: 575px) {
                            padding-left: 15px;
                            background: #f2f2f2;
                        }
                        .nav-item{
                            .nav-link{
                                color:#0404B4 !important;
                                font-size: 140%;
                                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                text-transform: uppercase;
                                font-weight: 600;
                                font-style: italic;
                                @media only screen and (max-width: 767px) {
                                    font-size: 15px;
                                    border-bottom: 1px solid rgba(0,0,0,0.1);
                                }
                            }
                        }
                        .active{
                            .nav-link{
                                color:orange !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.slider-main{
    background-color: #F2F2F2;
    .background-img-top{
        background-color: #ffff;
        .img-top{
            padding:30px 0px;
        }
    }


    .slider-bottom{
        background-color: #B0E0E6;
        padding: 20px 20px;
        .row{
            .col-lg-2{
                .all-product{
                    font-size: 130%;
                    color:#EB6600;  
                    .fa-bars{
                        color:#9A9D9D;
                    }
                }
                p{
                    font-size: 120%;
                    i{
                        color:#EB6600;
                    }
                }
                ul{
                    padding-left: 20px;
                    list-style: none;
                    li{
                        border-bottom: 1px solid #fff;
                        padding: 0px 0px 5px;
                        font-size: 110%;
                        i:hover{
                            color:#EB6600;
                        }
                        i{
                            color:#000;
                            font-weight: 600;
                        }
                    }
                    li::before {
                        content: "\2022";
                        color: red;
                        font-weight: bold;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1em;
                    }
                }
            }

            .col-lg-7{
                .carousel-fade{
                    .carousel-inner{
                        .carousel-item{
                            img{
                                width: 750px;
                                height: 425px;
                                object-fit: cover;
                                @media only screen and (max-width: 991px) {
                                    height:300px;
                                }
                                @media only screen and (max-width: 575px) {
                                    height: 200px;
                                }
                            }
                        }
                    }
                }
            }

            .custom-3{
                    padding:0px;
                    @media only screen and (max-width: 991px) {
                        padding:0px 15px;
                    }
                .container{
                    .row{
                        .col-6{
                            @media only screen and (max-width: 991px) {
                                padding:0px;
                            }
                            .img-1{
                                width: 100%;
                                height: 213px;
                                padding-bottom: 10px;
                                object-fit: cover;
                                @media only screen and (max-width: 991px) {
                                    padding: 20px 10px 0px 0px;
                                }
                                @media only screen and (max-width: 575px) {
                                    height: 120px;
                                }
                            }
                            .img-2{
                                width: 100%;
                                height: 211px;
                                padding-top: 10px;
                                object-fit: cover;
                                @media only screen and (max-width: 991px) {
                                    padding: 20px 0px 0px 10px;
                                }
                                @media only screen and (max-width: 575px) {
                                    height: 120px;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}



